.button {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 50px;
    -fx-cursor: hand;
}

.button2 {
    -fx-background-color: #FFA100;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 50px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.5, 0, 2);
    -fx-cursor: hand;
}
.menu-lateral {
    -fx-background-color: #FFA100; /* Laranja */
    -fx-padding: 10;
}

.painel-conteudo {
    -fx-background-color: white;
    -fx-padding: 20;
}

.txt-field {
    -fx-background-color: #F0F0F0;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-padding: 10;
    -fx-background-radius: 50px;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.5, 0, 2);
}